:root{
    /*|-------------------------------|-------------------|-----------------------|-----------------------|--------------------|*/
--grid-header-mobile:   [cart] min-content              [logo] auto         [menu] min-content;
--grid-header-desktop:  [logo] var(--logo-width,200px)  [menu] min-content  [search] auto           [login] min-content     [cart] min-content;
}
/*reset search*/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
/* input:focus, input[type]:focus {
    border: none;
    outline: 0 none;
} */
.btn-shopping-bag:hover {
text-decoration: none;
}

*, *:before, *:after{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    overflow-y:scroll;
    font-family: var(--font-body-family);
    font-size: var(--body-txt-font-size);
    background: var(--body-bg);
}

a, a:hover 
{
    color: inherit;
}

/* Títulos */
h1 ,h2 ,h3, h4, h5, h6,
.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: var(--font-title-family);
}

.as-header-top {
	background: var(--header-top-bg-color, var(--secondary-color));
	color: var(--header-top-txt-color, var(--primary-contrast));
	text-align:right;
	display:none;
}

.as-header-top .social-links a
{
    width: 32px !important;
    height: 32px !important;
    margin: 10px;
    text-align: center;
    font-size:16px !important;
    line-height: 33px;
    margin-right: 0;
    border-radius: 100px;
}

.as-grid-header
{
    background-color: var(--header-bg);
    border-radius: var(--header-border-radius);
    column-gap: 0.5rem;
    padding: 0.25rem 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.as-grid-header__logo
{
    grid-area: logo;
}

.as-grid-header__logo img 
{
    max-height: var(--logo-height,80px);
}

.navbar-toggler, .btn-cart, .btn-login, .btnsearch 
{
    position: relative;
    color: var(--body-bg);
    background:var(--icon-header-bg);
    border-radius: 5rem;
    height: 3rem;
    min-width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-bold);
}

.navbar-toggler:hover,
.btn-cart:hover,
.btn-login:hover,
.btn-search:hover{
	background: var(--icon-header-hover-bg);
	color: white;
}

.as-grid-header__menu
{
    grid-area:menu;
}

.as-grid-header__search
{
    grid-area: search;
    height: 3rem;
    border: 2px solid var(--header-search-border,var(--primary-color));
    background: var(--header-search-bg, var(--element-bg));
    border-radius: var(--btn-border-radius);
    display:none;
    margin: 0 1rem;
    padding: 2px;
}

.as-grid-header__search .input-group
{
    height: 100%;
    display: flex;
}

.as-search__menu, .as-grid-header__search .form-control 
{
    background: var(--header-search-bg);
}

.input-group .form-control 
{
    height: auto;
    border-left: 0;
    border-right: 0;
}

/* Quitamos borde azul de los inputs y btn al hacer FOCUS */
.input-group .form-control:focus, .input-group .input-group-append .btn:focus, .btn:focus, .divCartEmpty .btn:focus
{
    /* outline:none !important;
    outline-offset: 0; */
    box-shadow: none;
}

.form-control 
{
    border:var(--input-border);
    border-radius: var(--default-border-radius);
    color: var(--input-txt-color);
    background: var(--input-bg-color);
}

.p-relative
{
    position: relative;
}

.as-grid-header__cart {
	grid-area: cart;
}


.cart-counter {
	position: absolute;
	right: -.3rem;
	top: -.2rem;
	background: var(--secundary-hover-color);
	color: var(--primary-hover-contrast);
	border-radius: 5rem;
	font-size: .8rem;
	min-width: 1.5rem;
	padding: .125rem .375rem;
	border: 2px solid var(--header-bg-color);
}

.rounded-btn 
{
  border-radius: 2rem !important;
}


/* Modal Cart */
.modal.right
{
  z-index: 9999991 !important;
}

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  margin-right: 0 !important;
  margin-top: 0 !important;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}


.modal.right .modal-content {
    height: 100%;
    position:relative;
  }
  
.modal.right .modal-body {
overflow-y: auto;
padding: 15px 15px 80px;
}

.modal.right .modal-footer {
bottom:0px;
display: block;
/* position:absolute; */
width:100%;
}
        
/*Right*/
.modal.right.fade .modal-dialog {
/* right: -320px; */
right: 0;
-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
right: 0;
}


.modal.right .divCartEmpty
{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.modal.right .divCartEmpty > i
{
text-align: center;
color: #000;
font-size: 5rem;
}

.modal.right .divCartEmpty > p
{
margin-top: 1rem;
font-size:1.25rem;
}

.modal.right .divCartEmpty .btn 
{
    border:none;
}
/* Fin de Modal Cart */

.btn-close-offmenu
{
    width: 100%;
    background: var(--header-navbar-mobile-bg-color);
}

.as-search__menu .form-control 
{
    border: none;
    background-color: var(--header-search-bg);
    padding-left: 0.5rem;
    padding-right: 0;
}

.as-menu_lv1
{
    white-space: normal;
	color: var(--lv1-color) !important;
	background: var(--lv1-bg);
	font-size: var(--lv1-size);
	padding: .75rem;
	font-weight:var(--font-bold);
}

.as-menu_lv1,
.as-menu_lv2
{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    transition: all .25s ease;
}

.menu-lv1-sty:hover 
{
    background-color: #DE6A0F;
}

.menu-lv1-sty:hover span
{
    color:#fff;
}

/* Nuevo Menú */


@-webkit-keyframes aparecer {
	from{ opacity: 0;}
	to { opacity: 1; }
}

.containermenu
{
    /* background: #f3f3f3;
	position: fixed;
	height: 100%;
	left: 0;
	width: 200px;
	top: 0;
	box-shadow: 3px 0 10px rgba(0,0,0,.2);
	-webkit-transition: left .5s ease;
	-o-transition: left .5s ease;
	transition: left .5s ease;
	z-index: 1000; */
    background: rgba(0,0,0,0.5);
    left: 0;
	height: 100vh;
    position: fixed;
    -webkit-transition: left .5s ease;
	-o-transition: left .5s ease;
	transition: left .5s ease;
    top: 0;
    width: 100%;
    z-index: 1000;

    
}

.as-nav__main
{
    background: var(--header-navbar-mobile-bg-color);
    width: 360px;
    height: 100vh;
    position: fixed;
    z-index: 1001;
}

/* .mainmenuoffcanvas li > ul { */
    .mainmenuoffcanvas li > .as-menu_lv2-desktop {
	position: absolute;
	top:0;
	left: 100%;
	width: 200px;
    height: 30vh;
    margin-bottom: 20px;
	box-shadow: 3px 0 10px rgba(0,0,0,.2);
	-webkit-animation: aparecer .7s;
	display: none;
}

.mainmenuoffcanvas ul li .as-menu_lv2-desktop ul{
	list-style: none;
	background: #f3f3f3;
}

.as-menu_lv2-body
{
    background-color: white;
}

/* .mainmenuoffcanvas a, label{
	color: #868686;
	display: block;
	padding-left: 25px;
	text-decoration: none;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}  */

/* """"""""""""""""""""""""""""""""""" */
/* No descomentar esto */
/* .mainmenuoffcanvas {
	padding-top: 50%;
}  */

/* No descomentar esto*/

/* """"""""""""""""""""""""""""""""""" */

/* 
.mainmenuoffcanvas li {
	height: 60px;
	line-height: 60px;
	position: relative;
	width: 100%;
}

.mainmenuoffcanvas  > li {
	margin: 0 0 5% 0;
} */


.hide-off{
	/* left: -200px; */
    left: -2200px;
}

.pr7
{
    padding: 0.7rem !important;
}


.derecha {
	float: right;
	line-height: 60px;
}


.mainmenuoffcanvas  ul li:hover > .as-menu_lv2-desktop
{
	display: inherit;
}

.as-menu_lv2-title
{
    width: 100%;
    padding: 0rem 1rem;
    height: 3rem;
    font-size: 1rem;
    font-weight: var(--font-bold);
    border: none;
}

.as-menu_lv2-bar-sty
{
    background-color: #DE6A0F !important; 
    color: #fff !important;
}

.scroll-menu
{
    border-top: 1px solid #e9ecef;
    height: 100%;
    overflow-y: scroll;

}

[id^=drop], .mif-expand-more{
	display: none;
}


/* Dispositivos a partir de 992px */
@media screen and (min-width: 992px)
{

    .as-header-top {
        display: block;
    }

    .as-grid-header{
        grid-template-columns: var(--grid-header-desktop);
        padding-left:2rem;
        padding-right:2rem;
    }

    .as-grid-header__logo {
        text-align: left;
        margin-right: 2rem;
    }

    .navbar-toggler{
        color: var(--body-bg);
        border:2px solid var(--body-bg);
        border-radius: var(--btn-border-radius);
    }

    .navbar-toggler i
    {
        width: 1.5rem;
    }

    .navbar-toggler::after {
        content: var(--menu-toggler-txt,"Menú");
        margin-left: 0.5rem;
        font-weight: 600;
    }

    .as-grid-header__search
    {
        display: block;
    }

    .as-nav__menu .toggle__icon
    {
        transform: rotate(-90deg);
    }

    .as-nav__main .as-nav__menu li{ position: relative; }

    .as-nav__main .as-menu_lv2
    {
        /* display: none; */
        position: absolute;
        left:100%; top:-7px;
        min-width: 240px;
    }

    .as-nav__menu .submenu 
    {
         display: none;
         position: absolute;
         left: 100%;
         top: -7px;
         z-index: 999999999999;
    }

    .as-nav__menu>li:hover>.submenu{
        display: block;
    }

    [dir=rtl] .as-nav__main li .as-menu_lv2{ 
		right:100%; left:auto;
	}

	.as-nav__main li:hover{ background: var(--bs-light); }
	.as-nav__main li:hover > .as-menu_lv2{ display: block; }

    
}
