:root{
    /*fonts*/
    font-size: 16px;
    --font-body-family: 'Montserrat', sans-serif;
    --font-title-family: 'Montserrat', sans-serif;

     /*NO USAR + DE 3 TIPOS, DEBEN SER LAS MISMAS QUE LAS CARGADAS CON GOOGLE*/

    --font-bold: 600;
    --font-regular: 400;
    --font-light: 300;
    --body-txt-default-color: #403f3f;
    --body-txt-light:rgb(135,135,135); 

    
    /* COLORES */ 
    
    /* highlight DESTACADO */
    --highlight-color: var(--secondary-color); /* rojo */
    --highlight-contrast: white;
    
     /* primary */
    --primary-color: #de6a0f; /*azul*/
    --primary-contrast: white;
    
    /* primary -hover */
    --primary-hover-color: #333333; /* celeste */
    --primary-hover-contrast: white;
    
    /* secondary */
    --secondary-color: #221f1a;
    --secondary-contrast:  WHITE;
    
    /* secondary hover */
    --secondary-hover-color: #221f1aba; 
    --secondary-hover-contrast: var(--highlight-contrast);
    
    /* danger */
    --danger-color:var(--highlight-color);
    --danger-contrast:var(--highlight-contrast);
    
    /* danger hover */
    --danger-hover-color:#8c3322;
    --danger-hover-contrast: #fff;
    
    /* success */
    --success-color: #96eb83;
    --success-contrast: rgba(0,0,0,0.8);
    
    /* success hover */
    --success-hover-color:#77bf67;
    --success-hover-contrast: rgba(0,0,0,0.8);
    
    
    
    /* body */ 
    --body-bg: white;
    /* elements */
    
    --element-bg: white;
    
    --collection-brand-color: #B2B2B2;
    --collection-brand-bg: transparent;
    
     /* Border radius */
    --default-border-radius: 1rem;
    --product-collection-border-radius: .5rem;
    
    /* botones */
    --btn-bg-default: #B2B2B2;
    --btn-color-default: white;
    --btn-border:2px solid;
    --btn-border-radius: 2rem;
    --btn-weight: 14px; 
    /* // tamaño de letra en boton 10.11.2022 */
    
   /* migas de pan*/
    --breadcrumb-bg-color: #f6f8f9;
   
   /* forms */
    --input-bg-color: #fff;
    --input-border-color: var(--secondary-border);
    --input-txt-color: inherit;
    --input-border: var(--btn-border) var(--input-border-color);
   
    /*Cabecera color en home sobre el slider */
    --header-bg-home: rgba(255,255,255,1);
    
     /* cabecera header en otras pagina y position fixed */ 
    --header-bg: #221f1a;
    --header-top-bg-color:#221f1a;
    --header-top-txt-color: #ffffff;
    --header-border-radius: 10rem; 
    
    /* logo cabecera */ 
    --logo-width: 200px;
    --logo-height: 80px;
    
   
    /*header search*/
    --header-search-bg: #f6f8f9;
    --header-search-border: #E7F7FF;
    
    --header-txt-color: inherit;
    
    /* cabecera menú */
    --header-navbar-mobile-bg-color: white;
    
    /* iconos */
    
    --icon-header-bg: transparent;
    --icon-header-color: var(--primary-color);
    /*hover */
    --icon-header-hover-bg: var(--primary-color);
    --icon-header-hover-color: white;
    
    
    
    /* lv1 */
    --lv1-color: inherit;
    --lv1-bg: transparent;
    --lv1-size: 16px;
    
    /* lv1 hover */
    --lv1-hover-color: var(--secondary-color);
    --lv1-hover-bg: var(--primary-color);
    
    /* lv2 */
    --lv2-color: inherit;
    --lv2-bg: transparent;
    --lv2-size: .85rem;
    
    /* lv2 hover */
    --lv2-hover-color: var(--primary-hover-contrast);
    --lv2-hover-bg: var(--primary-hover-color);
    
    /* lv3 */
    --lv3-txt-color: #1d1d1b;
    --lv3-bg-color: transparent;
    --lv3-size: .85rem;
    
    /* lv3 hover */
    --lv3-hover-txt-color: var(--primary-color);
    --lv3-hover-bg-color: none;
    
    
    --menu-title-size: var(--lv3-size);
    --menu-title-weight: var(--font-bold);
    --menu-title-color: #545454;
    
    
    /*Home title*/
    --title-weight: var(--font-bold);
    --title-transform: uppercase;
    
    /* home titles */
    --home-title-size: 2rem;
    --home-title-color: #404040;
    --home-title-decoration-color: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(248,217,209,1) 50%, rgba(255,255,255,1) 100%);
    
    /* product */
    --prod-title-weight:var(--font-regular);
    --prod-title-size: 2rem;
    
    
    /* descuentos */
    --discount-bg-color: var(--primary-color);
    --discount-txt-color: var(--secondary-color);
    
    /* footer */
    --footer-bg-top-color:#666666;
    --footer-bg-color:transparent;
    --footer-txt-color: #ffffff;
    --footer-link-txt-color: #ffffff;
    --footer-link-hover-txt-color:(--primary-color);
    
    /* facebook */
    --chat-facebook-bg-color: #1877f2;
    --chat-facebook-txt-color: white;
    
    /* facebook hover */
    --chat-facebook-hover-bg-color: rgb(23,113,230);
    --chat-facebook-hover-txt-color: white;
    
    /* whatsapp */
    --chat-whatsapp-bg-color:#25D366;
    --chat-whatsapp-txt-color: white;
    
    /* whatsapp hover */
    --chat-whatsapp-hover-bg-color:#25D366;
    --chat-whatsapp-hover-txt-color:white;
    
    /* banners */
    --banner-hover-bg-color:rgba(0,0,0,0.6);
    --banner-hover-txt-color: #fff;
    
    /* alert */
    --alert-bg:#666;
    --alert-color:white;


    --fa-caret-left :content: "\f0d9"; 
}